name: Terraform CI/CD

on:
  workflow_dispatch:
    inputs:
      apply:
        description: 'Executar o Terraform Apply?'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false


permissions:
  contents: read
  id-token: write
jobs:
  job1:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: sua-role
          aws-region: sua-region

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate
      
      - name: Terraform Plan
        run: terraform plan -out=tfplan.tfout

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan.tfout
        if: github.event.inputs.apply == 'true'